#restau-menu {
    padding: 0;
    width: 100%;

}

.card-restau {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    &__img {
        width: 100%;
        height: 215px;
        object-fit: cover;
        object-position: center center;

        @include md {
            height: 300px;
        }

        @include lg {
            height: 400px;
        }
    }

    &__menu {
        margin-top: -35px;
        width: 100%;
        padding: 25px 10px;
        background-color: $light-gray;
        border-radius: 30px 30px 0 0;

        @include lg {
            margin-left: auto;
            margin-right: auto;
            z-index: 1;
            padding: 30px 50px;
            box-shadow: $box-shadow;
            -webkit-box-shadow: $box-shadow;
            -moz-box-shadow: $box-shadow;
            max-width: 900px;
        }

        h1 {
            position: relative;
            font-family: $shrikhand;
            font-weight: 500;
            font-size: 24px;
            display: block;
            padding: 0 8px;
            margin-bottom: 25px;

            .icon {
                position: absolute;
                right: 3%;
                top: 50%;
                transform: translateY(-50%);
                border: none;
                cursor: pointer;
            }

            @include lg {
                font-size: 3rem;
            }
        }

        h2 {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            opacity: 0.7;
            display: inline-block;
            margin-bottom: 12px;
            padding: 0 8px;

            @include lg {
                font-size: 18px;
            }

            &::after {
                display: block;
                font-weight: 800;
                padding-top: 3px;
                margin-top: 3px;
                content: '';
                width: 35px;
                background-color: $success;
            }
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 30px;

        @include lg {
            gap: 20px;
        }
    }

    &__items &__link {
        padding: 8px;
        border-radius: 12px;
        background-color: $white;
        line-height: 20px;
        box-shadow: $box-shadow;
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        display: inline-block;
        position: relative;
        cursor: pointer;

        @include lg {
            padding: 12px;
            line-height: 24px;
        }

        .icon {
            position: absolute;
            top: 0;
            bottom: auto;
            right: 0;
            left: auto;
            margin: auto;
            height: 100%;
            width: 0px;
            border-radius: 0 12px 12px 0;
            background-color: $success;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            overflow: hidden;

            &::before {
                color: $white;
                font-size: 18px;
            }

        }

        &:hover,
        &:focus {
            .card-restau__title {
                width: 60%;
            }

            .icon {
                animation: select-dish 0.5s forwards;

                &::before {
                    animation: rotate-check-circle 0.5s forwards;
                }
            }

            .price {
                animation: margin-price 0.3s linear forwards;
            }

            .card-restau__details {
                width: 98%;

            }
        }

    }

    &__items &__link &__title {
        font-size: 15px;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        transition: width 0.3s;
        padding-bottom: 0px;

        @include lg {
            font-size: 18px;
        }
    }

    &__details {
        display: flex;
        width: 100%;
        transition: width 0.5s;
        justify-content: space-between;

        p {
            font-size: 12px;
            font-weight: 400;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: auto;

            @include lg {
                font-size: 16px;
            }
        }

        .price {
            text-align: center;
            width: auto;
            padding: 0 10px;
            align-self: flex-end;
            font-size: 12px;
            font-weight: 600;

            @include lg {
                font-size: 15px;
            }
        }
    }

    .order--center {
        margin-bottom: 15px;
        text-align: center;
    }

    .btn.btn--link {
        padding: 12px 40px;
        margin: 10px auto 20px auto;
    }
}

@keyframes select-dish {
    to {
        width: 50px;
    }

    100% {
        opacity: 1;
    }

}

@keyframes margin-price {
    100% {
        padding-left: 30px;
        padding-right: 50px;
    }
}

@keyframes rotate-check-circle {
    to {
        transform: rotate(1turn);
    }
}