#restaurants {
    background-color: $light-gray;
    width: 100%;
    padding-bottom: 60px;

    @include md {
        // background-color: unset;
        padding: 60px 10% 200px 10%;

        h1 {
            text-align: center;
            padding-bottom: 40px;

            @include lg {
                padding-bottom: 60px;
            }
        }
    }

    .cards-group {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 16px;

        @include lg {
            flex-flow: row wrap;
            justify-content: center;
            gap: 40px;
        }

        .card {
            position: relative;
            width: 100%;
            margin-top: 0;
            border-radius: 12px;
            box-shadow: $box-shadow;
            -webkit-box-shadow: $box-shadow;
            -moz-box-shadow: $box-shadow;
            transition: transform 150ms;
            text-decoration: none;
            color: inherit;
            cursor: pointer;

            @include md {
                &:hover {
                    -ms-transform: perspective(1px) scale(1.01) translateX(0);
                    -webkit-transform: perspective(1px) scale(1.01) translateX(0);
                    transform: perspective(1px) scale(1.01) translateX(0);
                }

            }

            @include lg {
                width: 45%;
                height: 400px;

            }

            &__img {
                width: 100%;
                height: 145px;
                object-fit: cover;
                object-position: 50% 100%;
                border-radius: 12px 12px 0 0;

                @include md {
                    height: 300px;
                    object-position: 100% 70%;
                }
            }

            &__info {
                margin: 10px 10px 12px 10px;

                h2 {
                    font-weight: 800;
                    margin-bottom: 3px;
                    width: 100%;
                    position: relative;
                    font-size: 15px;
                    display: inline-block;

                    .icon {
                        position: absolute;
                        right: 3%;
                        top: 100%;
                        transform: translateY(-50%);
                        border: none;
                        cursor: pointer;
                    }

                    @include lg {
                        font-size: 20px;
                    }

                }

                p {
                    opacity: 0.5;
                    font-size: 14px;

                    @include lg {
                        font-size: 16px;
                    }
                }
            }

            &__new-tag::before {
                content: 'Nouveau';
                position: absolute;
                padding: 6px 12px;
                background-color: $success;
                color: #008766;
                font-size: 12px;
                top: 10px;
                right: 10px;
            }

        }

    }
}