
/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');

$roboto: 'Roboto',sans-serif;
$shrikhand : 'Shrikhand',cursive;
/* ****************************** */

/* colors */
$purple: #9356DC !default;
$pink: #FF79DA !default;
$green: #99E2D0 !default;
$grey: #eaeaea !default;
$light-gray:#F6F6F6 !default;
$white: #fff !default;
$dark: #353535 !default;
/* ***************************** */


/* box shadow*/
$box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.23);
/* ***************************** */